body {
    background-color: #f4f7fc;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 40px;
}

h1 {
    color: #302b63;
}

form {
    margin: 20px;
}

input {
    padding: 10px;
    width: 250px;
}

button {
    padding: 10px 20px;
    background-color: #8e44ad;
    color: white;
    border: none;
    cursor: pointer;
}

.weather-box {
    background-color: white;
    width: 350px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
}
